{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/juggling-balls">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        We're sorry
      </h1>

      <p>You are not eligible to join the circus as you do not have enough experience.</p>

      <p><a href="/start">Return to home</a></p>

    </div>
  </div>

{% endblock %}
